<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class='studentDashboardGridContainer'>
        <div class="studentDashboardNav">
            <label id='studentDashboardNavWelcome'>Welcome *USERNAME*</label>
            <button id='studentDashboardNavLogout'>LOG OUT</button>
        </div>
        <div id='studentDashboardStatusContainer'>
            <div id='studentDashboardStatusColor'>
                <label id='studentDashboardStatus'>STUDENT STATUS: *STATUS*</label>
            </div>
        </div>
        <button id='studentDashboardModules'>MY MODULES</button>
    </div>
    <script src="js/StudentDashboard.js"></script>
</body>